<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toggl.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Toggl.Tests.Properties.Settings>
            <setting name="ApiToken" serializeAs="String">
                <value>53e8569674f124ac8226e786168bbd76</value>
            </setting>
        </Toggl.Tests.Properties.Settings>
    </applicationSettings>
</configuration>