<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toggl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Toggl.Properties.Settings>
            <setting name="ApiToken" serializeAs="String">
                <value>60f80ce0e29d051d62b55dc7f6322ca9</value>
            </setting>
        </Toggl.Properties.Settings>
    </applicationSettings>
</configuration>